---
title: "Baybayin Fonts Demo"
layout: single
width: wide
---

{% include angular.html %}
{% include baybayin-font.html %}

<div ng-app=''>

        <div id="sidebar sticky">        
                <!-- <input type="color" name="background" id="p_bgColor" ng-model='m_bgColor' ng-change="changeColor()"><label for="p_bgColor">&nbsp;&nbsp;Background Color</label> -->
                <!-- <input type="color" name="fontcolor" id="p_fontColor" ng-model='m_ftColor' ng-change="changeColor()"><label for="p_fontColor">&nbsp;&nbsp;Font</label> -->
                <!-- <input type="button" value="Set Color" ng-click="changeColor()"> -->
                <input class='' type="checkbox" name="Round" id="chk_font1" ng-model="chk_font1"><label for="chk_font1">Round</label>
                <input class='' type="checkbox" name="Modern" id="chk_font2" ng-model="chk_font2"><label for="chk_font2">Modern</label>
                <input class='' type="checkbox" name="Brush" id="chk_font3" ng-model="chk_font3"><label for="chk_font3">Brush</label>
                <input class='' type="checkbox" name="Kana" id="chk_font4" ng-model="chk_font4"><label for="chk_font4">Kana</label>
        
        </div>
<section id="sec_demo" ng-show="!sec_demo_vis">
    <div id="header">

    </div>

    <div class="in_text">
        <textarea type="text" name="trans" id="trans" cols="110" rows="3" ng-model="p_input"></textarea>
        <input type="button" value="Clear" ng-click="clear_input()">
    </div>

{% raw %}
    <h3 class="out_text font1" ng-style="out_style" ng-show="chk_font1">{{ p_input }}</h3>
    <h3 class="out_text font2" ng-style="out_style" ng-show="chk_font2">{{ p_input }}</h3>
    <h3 class="out_text font3" ng-style="out_style" ng-show="chk_font3">{{ p_input }}</h3>
    <h3 class="out_text font4" ng-style="out_style" ng-show="chk_font4">{{ p_input }}</h3>
{% endraw %}
</section>


</div>