---
layout: page
title: Dictionary
---

<section>
    <ul>
        {% for cat in site.categories %}
            {% if cat.name == 'Dictionary' %}
            
                {% for post in cat %}
                <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
                {% endfor %}
            {% else %}
                <p>in else</p>
                <p>{{ cat.name }}</p>
                {% for post in cat %}
                <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
    
</section>